/* General */

body {
    color: white;
    font-family: 'Monda', sans-serif;
    background-color: transparent;
    overflow: auto;
}
a, a:hover, a:active {
    color: white;
    text-decoration: none;
}
p {
    padding-left: 40px;
}
::-webkit-scrollbar {
    width: 5px;
    padding-left: 100px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: white;
}
.highlight {
    background-color: white;
    color: #044;
    padding-left: 5px;
    padding-right: 5px;
}
a.highlight:hover {
    color: #044;
}

/* Resume */

.text-container {
    padding-top: 1vh;
    width: 60vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-bottom: -30px;
}
.contact-info {
    text-align: center;
    padding-bottom: 10px;
}
.section-header {
    background-color: white;
    color: #044;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
}
.text-section {
    padding-bottom: 30px;
    font-size: 20px;
}
.interests {
    text-align: center;
}
.row {
    padding-bottom: 30px;
    padding-left: 40px;
}

/* About */

.profile-image {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.bio {
    font-size: 20px;
}

/* Contact */

.contact-container {
    padding-top: 30vh;
}
.social-row {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 5vh;
}
.social {
    font-size: 30px;
    text-align: center;
    color: #044;
    display: inline;
    padding: 10px;
    padding-top: 20px;
}
