/* BEGIN uCMS PREVIEW STYLING */

.editable {
    outline-style: solid;
    outline-color: rgb(0,0,0,0);
  
    -webkit-transition: outline-color .2s ease-in-out;
    -o-transition: outline-color .2s ease-in-out;
    -ms-transition: outline-color .2s ease-in-out;
    -moz-transition: outline-color .2s ease-in-out;
    transition: outline-color .2s ease-in-out;
  }
  
  .editable:hover:not(#focused-tag) {
    outline-color: rgb(57, 108, 173);
  }
  
  /* END uCMS PREVIEW STYLING */

  /* BEGIN SCROLLBAR */

::-webkit-scrollbar {
  width: 5px;
  padding-left: 100px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* ::-webkit-scrollbar-track-piece {} */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.623);
}

/* END SCROLLBAR */