.main-header {
    color: white;
    font-size: 50px;
}

.content-window {
    background-color: white;
    color: white;
    border-radius: 3px;
    height: 80vh;
}

.preview {
    background-color: white;
}

.form {
    background-color: grey;
}
